@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: wheat;
    font-family: "Press Start 2P", system-ui;
    font-style:normal;
    font-weight: bolder;
    color: rgb(129, 91, 56);
}
#selected{
    text-decoration:underline;
}
img[alt='bgimage']{
    height: 85vh;
    background-repeat: no-repeat;
    opacity: 0.5; 
    position: absolute;
    z-index: -1;
    left: 20%;
    margin-left: auto;
    margin-right:auto;
    object-fit: contain;
}
.nav-item a{
    color: rgb(129, 91, 56);
    padding: 20px 5vw ;
    font-size: 1vw ;
}
.nav-item a:hover{
    transition: 0.5s;
    color:rgb(68, 51, 35);
    text-shadow: 2px 2px 0px rgb(129, 91, 56) ;
}
#border{
    border: solid 3px rgb(129, 91, 56);
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: auto;
    height:85vh;
}
#foot{
    position: relative;
    border:solid 3px rgb(129, 91, 56);
    margin: 0.4%;
    width: auto;
    height: 8vh;
    margin-top: -3px;
    margin-bottom: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: center;
    line-height: 300%;
    font-size: 0.8vw;
    line-height: 1.1;
    color: rgb(129, 91, 56);
}
b{
    position: relative;
    top: 15px;
}
#t-border1{
 border:solid 3px rgb(129, 91, 56);
 margin: -3px;;
}
#t-border2{
 border:solid 3px rgb(129, 91, 56);
 margin: -3px;
 margin-left: 0px;
 
}
#logo{
object-fit: contain;
height: 4.5vw;
padding: 3px;
}