@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


/* `````````````````````````````````````````````````````general````````````````````````````````````````````````````` */
#body-h{
    background-color: wheat;
    font-family: "Press Start 2P", system-ui;
    font-style:normal;
    font-weight: bolder;
    color: rgb(129, 91, 56);
    height: 66vw;
}
#body-store{
    background-color: wheat;
    font-family: "Press Start 2P", system-ui;
    font-style:normal;
    font-weight: bolder;
    color: rgb(129, 91, 56);
    margin-bottom: 5.5vw;
}
#body-m{
    background-color: wheat;
    font-family: "Press Start 2P", system-ui;
    font-style:normal;
    font-weight: bolder;
    color: rgb(129, 91, 56);
}
#selected{
    text-decoration:underline;
}
#head-pad a{
    color: rgb(129, 91, 56);
    padding: 29px 5vw ;
    font-size: 1vw ;
}
.nav-item a:hover{
    transition: 0.5s;
    color:rgb(68, 51, 35);
    text-shadow: 2px 2px 0px rgb(129, 91, 56) ;
}
#border{
    border: solid 3px rgb(129, 91, 56);
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: auto;
    height:auto;
}
#border-store{
    border: solid 3px rgb(129, 91, 56);
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: auto;
    height: auto; 
}
#border-m{
    border: solid 3px rgb(129, 91, 56);
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: auto;
    height:85vh;
}
#foot-m{
    position: absolute;
    border:solid 3px rgb(129, 91, 56);
    margin: 0.4%;
    width: auto;
    height: 8vh;
    margin-top: -3px;
    margin-bottom: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: center;
    line-height: 300%;
    font-size: 0.8vw;
    line-height: 1.1;
    color: rgb(129, 91, 56);
    width: 97vw;
}
#foot{
    position: absolute;
    border:solid 3px rgb(129, 91, 56);
    margin: 0.4%;
    height: 8vh;
    margin-top: -3px;
    margin-bottom: 1.5%;
    margin-left: 1.5%;
    text-align: center;
    line-height: 300%;
    font-size: 0.8vw;
    line-height: 1.1;
    color: rgb(129, 91, 56);
    width: 95.95vw;
}
b{
    position: relative;
    top: 15px;  
}
#t-border1{
 border:solid 3px rgb(129, 91, 56);
 margin: -3px;;
}
#t-border2{
 border:solid 3px rgb(129, 91, 56);
 margin: -3px;
 margin-left: 0px;
}
#logo{
object-fit: contain;
height: 4.5vw;
padding: 3px;
}
#nav-t{
 width: 96.1vw;   
}
#nav-m{
 width: 97.15vw;   
}
#cart-logo{
object-fit: contain;
height: 3vw; 
}
#cart-profile{
object-fit: contain;
height: 3vw; 
}
#nav-logos{
    padding: 0px
}
#cart-amount{
    padding-top: 1vw;
    color: rgb(129, 91, 56);
}
#cart-amount:hover{
    transition: 0.5s;
    color:rgb(68, 51, 35);
    text-shadow: 2px 2px 0px wheat;
}
/* `````````````````````````````````````````````````````home````````````````````````````````````````````````````` */

#ad-1{
    left: 46vw;
    top: 4vw;
    position: absolute;
    object-fit: contain;
    height: 23vw;  
    transition: 1s;
}
#ad-1:hover{
    transform: scale(1.05);
    cursor: pointer;
}
#ad-text{
    position: absolute;
    top: 13vw;
    left: 1.5vw;
    width: 30vw;
}
#ad-title{
    color: wheat;
    font-size: 1.6vw;
    text-shadow: 4px 4px rgb(68, 51, 35);
}
#BN-button{
    
    height: 2vw;
    font-size: 1vw;
    background-color: wheat;
    color: rgb(129, 91, 56) ;
    transition: 0.3s;
}
#BN-button:hover{
    box-shadow: 0.3vw 0.3vw rgb(129, 91, 56); ;
}
#price{
    font-size: 2vw; 
}
#newsletter{
    background-color: rgb(68, 51, 35) ;
    width: 70vw;
    height: 45.2vh;
    padding-top: 4vh;
    padding-left: 4vw ;
}
#newsletter-b{
display: flex;
flex-direction: row;

}
#NL-heading{
    width: 20vw;
    color: wheat;
    text-shadow: 3px 3px rgb(129, 91, 56) ;
}
#NL-info{
    width: 30vw;
    color: rgb(198, 137, 81) ;
}
#NL-input{
    height: 2vw;
    width: 15vw;
    color: wheat;
    background-color: rgb(129, 91, 56) ;
}
#NL-input::placeholder {
    width: 15vw;
    color: rgb(198, 137, 81);
}
#sub-but{
    height: 2vw;
    width: 8vw;
    background-color: wheat ;
    color: rgb(129, 91, 56) ;
    transition: 0.3s;
}
#sub-but:hover{
    box-shadow: 0.3vw 0.3vw rgb(129, 91, 56);
}
i{
    font-size: 64px;
    transition: 0.3s;
}
i:hover{
    color: wheat;
    cursor: pointer;
}
#icons{
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
}

/* `````````````````````````````````````````````````````about````````````````````````````````````````````````````` */
#about-sct{
    left: 0px;
}
#about-img{
    object-fit: contain;
    height:33vw;
    transition: 0.3s;
    margin-left: 3vw;
}
#about-img:hover{
    height: 34vw;
}
#about-info{
    padding-top: 2vw;
    padding-left: 4vw;
}
#about-text{
font-size: 1vw;
}
h1{
    font-size: 3vw;
    text-shadow: 0.2vw 0.2vw rgb(68, 51, 35);
}
/* `````````````````````````````````````````````````````store````````````````````````````````````````````````````` */

#search-input{
    border:solid 3px rgb(143, 110, 78);
    margin: 1vw;
    height: 3vw;
    width: 93.6vw;
    color: rgb(129, 91, 56);
    background-color: wheat;
}
#search-input::placeholder {
    width: 15vw;
    color: rgb(147, 111, 78);
}
#storeHeading{
    padding-top: 2vw;
    padding-left: 4.6vw;
}
#products-imgs{
    object-fit: contain;
    height: 25vw;
}
#for-sale-itms{
    margin: 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 5vw;
    place-items: center;

}
#description{
    font-size: 1.5vw;
    color: rgb(129, 91, 56)
}
.card-title{
    color: rgb(129, 91, 56);
}
#productCard{
    border:solid 3px rgb(143, 110, 78);
    height: auto;
    transition: 0.3s;
    height: 37vw;
}
#productCard:hover{
    box-shadow: 0.3vw 0.3vw rgb(129, 91, 56); ;
}
#thumbnail{
    object-fit: contain;
    height: 25vw;
    background-color: rgb(206, 185, 148);
}
.card-body{
    border-top:solid 3px rgb(143, 110, 78);
    background-color: wheat;
}
#addToCart{
    border:solid 3px rgb(143, 110, 78);
    height: 2.5vw;
    width: 9vw;
    font-size: 1vw;
    background-color: wheat;
    color: rgb(129, 91, 56) ;
    transition: 0.3s;
}
#addToCart:hover{
    box-shadow: 0.3vw 0.3vw rgb(129, 91, 56); ;
}
#view{
    border:solid 3px rgb(143, 110, 78);
    height: 2.5vw;
    width: 9vw;
    font-size: 1vw;
    background-color: wheat;
    color: rgb(129, 91, 56) ;
    transition: 0.3s;
}
#view:hover{
    box-shadow: 0.3vw 0.3vw rgb(129, 91, 56); ;
}

/* `````````````````````````````````````````````````````Cart````````````````````````````````````````````````````` */
table,td,th{
    border: solid 3px;
    border-collapse:  collapse;
    margin-left: 4.6vw;
    width: 86vw;
    margin-bottom: 1vw;
}
td{
    height: 6vw;
    padding: 0.5vw;
}
th{
    height: 2vw;
    padding: 0.5vw;
}